/*  About us Section starts */

.about-section {
  padding: 90px 120px 0px 120px;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.about-section .about-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-section .about-label {
  font-size: 20px;
  color: white;
}

.about-section .about-title {
  font-size: 34px;
  font-weight: 300;
  line-height: 1.45;
  text-align: right;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: 290px;
  color: #d1cece;
}
.about-section .about-title span {
  font-style: italic;
  font-weight: 400;
  color: #fff;
}

.about-section .about-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.about-section .skills-left {
  width: 55%;
}

.about-section .skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.about-section .skill-card {
  border-radius: 30px;
  padding: 15px 20px;
  border: 1px solid rgba(255, 255, 255, 0.158);
  font-family: "Source Code Pro", monospace;
  color: #d1cece;
}
.about-section .card1 {
  width: 100%;
  max-width: 420px;
}
.about-section .card2 {
  width: 100%;
  max-width: 210px;
}
.about-section .card3 {
  width: 100%;
  max-width: 260px;
}
.about-section .card4 {
  width: 100%;
  max-width: 240px;
}
.about-section .card5 {
  width: 100%;
  max-width: 330px;
}
.about-section .card6 {
  width: 100%;
  max-width: 420px;
}

.about-section .skill-card.white {
  background: #fafafa;
  color: #111;
  border: none;
}

.about-section .skill-card h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.about-section .skill-card p {
  font-size: 14px;
  line-height: 1.55;
}

.about-section .floating-icons {
  display: flex;
  align-items: center;
}

.about-section .icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid #555;
}

.about-section .white-circle {
  background: #fff;
  margin-left: -14px;
}

@keyframes floatArrow {
  0% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(-6px) rotate(45deg);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}

.about-section .tilted-arrow {
  color: black;
  animation: floatArrow 2s ease-in-out infinite;
}

.about-section .fav-text {
  margin-top: 35px;
  font-size: 14px;
  opacity: 0.7;
}

.about-section .right {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section .circle-outline {
  width: 780px;
  height: 780px;
  border-radius: 50%;
  border: 1px solid rgba(255, 250, 250, 0.158);
  position: absolute;
  top: -250px;
  right: -260px;
  z-index: 0;
}

.about-section .photo-card {
  width: 450px;
  height: 550px;
  border-radius: 32px;
  overflow: hidden;
  background: #222;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 10px;
}

.about-section .photo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1820px) {
  .about-section .card1 {
    width: 100%;
    max-width: 420px;
  }
  .about-section .card2 {
    width: 100%;
    max-width: 210px;
  }
  .about-section .card3 {
    width: 100%;
    max-width: 260px;
  }
  .about-section .card4 {
    width: 100%;
    max-width: 220px;
  }
  .about-section .card5 {
    width: 100%;
    max-width: 250px;
  }
  .about-section .card6 {
    width: 100%;
    max-width: 420px;
  }
}
/* ---------------------------------------------------
  Laptops
---------------------------------------------------- */
@media (max-width: 1400px) {
  .about-section {
    padding: 60px 80px;
    overflow-x: hidden;
  }

  .about-section .about-title {
    width: 100%;
    margin-right: 0;
    font-size: 30px;
    text-align: right;
  }

  .about-section .circle-outline {
    width: 600px;
    height: 600px;
    top: -200px;
    right: -180px;
  }

  .about-section .photo-card {
    width: 380px;
    height: 480px;
  }
  .about-section .card1 {
    width: 100%;
    max-width: 220px;
  }
  .about-section .card2 {
    width: 100%;
    max-width: 210px;
  }
  .about-section .card3 {
    width: 100%;
    max-width: 160px;
  }
  .about-section .card4 {
    width: 100%;
    max-width: 220px;
  }
  .about-section .card5 {
    width: 100%;
    max-width: 180px;
  }
  .about-section .card6 {
    width: 100%;
    max-width: 220px;
  }
}

/* ---------------------------------------------------
  iPad Pro
---------------------------------------------------- */
@media (max-width: 1024px) {
  .about-section {
    padding: 50px 50px;
    overflow-x: hidden;
  }

  .about-section .about-top {
    flex-direction: column;
    gap: 15px;
  }

  .about-section .about-title {
    font-size: 28px;
    width: 100%;
    margin-right: 0;
    text-align: left;
  }

  .about-section .about-bottom {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .about-section .skills-left {
    width: 100%;
  }

  .about-section .right {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .about-section .circle-outline {
    width: 460px;
    height: 460px;
    top: -120px;
    right: auto;
  }

  .about-section .photo-card {
    width: 340px;
    height: 440px;
    position: relative;
    margin: 0 auto;
    top: -10px;
    right: 0px;
  }
  .about-section .skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    justify-content: center;
    align-items: center;
  }
  .about-section .skills-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .about-section .card1 {
    width: 100%;
    max-width: 220px;
  }
  .about-section .card2 {
    width: 100%;
    max-width: 210px;
  }
  .about-section .card3 {
    width: 100%;
    max-width: 160px;
  }
  .about-section .card4 {
    width: 100%;
    max-width: 180px;
  }
  .about-section .card5 {
    width: 100%;
    max-width: 180px;
  }
  .about-section .card6 {
    width: 100%;
    max-width: 220px;
  }
  .about-section .circle-outline {
    width: 650px;
    height: 650px;
    top: -180px;
    right: -460px;
  }
}
/* ---------------------------------------------------
   iPad Air, Samsung Tab
---------------------------------------------------- */
@media (max-width: 1024px) {
  .about-section .circle-outline {
    width: 750px;
    height: 750px;
    top: -180px;
    right: -460px;
  }
}
/* ---------------------------------------------------
   Tablets
---------------------------------------------------- */
@media (max-width: 768px) {
  .about-section {
    padding: 40px 30px;
    overflow-x: hidden;
  }

  .about-section .skill-card h3 {
    font-size: 22px;
  }

  .about-section .skill-card p {
    font-size: 13px;
  }

  .about-section .photo-card {
    width: 300px;
    height: 380px;
  }

  .about-section .card1 {
    width: 100%;
    max-width: 220px;
  }
  .about-section .card2 {
    width: 100%;
    max-width: 210px;
  }
  .about-section .card3 {
    width: 100%;
    max-width: 160px;
  }
  .about-section .card4 {
    width: 100%;
    max-width: 180px;
  }
  .about-section .card5 {
    width: 100%;
    max-width: 180px;
  }
  .about-section .card6 {
    width: 100%;
    max-width: 220px;
  }
  .about-section .circle-outline {
    width: 650px;
    height: 650px;
    top: -180px;
    right: -390px;
  }
}

/* ---------------------------------------------------
   Mobiles 
---------------------------------------------------- */
@media (max-width: 500px) {
  .about-section {
    padding: 30px 20px;
    overflow-x: hidden;
  }
  .about-section .about-label {
    font-size: 18px;
  }
  .about-section .about-title {
    font-size: 21px;
  }

  .about-section .photo-card {
    width: 240px;
    height: 320px;
  }

  .about-section .icon-circle {
    width: 48px;
    height: 48px;
  }

  .about-section .skills-wrapper {
    gap: 16px;
  }
  .about-section .skills-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about-section .floating-icons {
    display: none;
  }
  .about-section .card1 {
    width: 100%;
    max-width: 220px;
  }
  .about-section .card2 {
    width: 100%;
    max-width: 220px;
  }
  .about-section .card3 {
    width: 100%;
    max-width: 220px;
  }
  .about-section .card4 {
    width: 100%;
    max-width: 220px;
  }
  .about-section .card5 {
    width: 100%;
    max-width: 220px;
  }
  .about-section .card6 {
    width: 100%;
    max-width: 220px;
  }
  .about-section .circle-outline {
    width: 450px;
    height: 450px;
    top: -90px;
    right: -260px;
  }
}
.about-title,
.photo-card,
.floating-icons {
  transition: transform 0.3s ease-out;
}
/* ---------------------------------------------------
   About us skill card parallax
---------------------------------------------------- */
@media (max-width: 768px) {
  .m-reveal {
    opacity: 0;
    transform: translateY(40px);
    transition:
      transform 0.7s cubic-bezier(0.16, 1, 0.3, 1),
      opacity 0.7s ease-out;
  }

  .m-left {
    transform: translateX(-60px);
  }

  .m-right {
    transform: translateX(60px);
  }

  .m-bottom {
    transform: translateY(60px);
  }

  .m-reveal.active {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/*  About us Section Ends */
